/* Font Awesome */

@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

/* Roboto Condensed */

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
body {
  background-color: #518f98;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #3B3A3F;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

p {
  margin: 0;
  color: #00CE9B;
  font-weight: 700;
}

#result {
  padding: 60px 0 0;
  font-size: 40px;
  line-height: 60px;
}

#start, #stop {
  position: relative;
  width: 100px;
  height: 40px;
  outline: 0;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

#start {
  background: #0e6515;
}

#start:hover {
  background: #4fd840;
}

#stop {
  background: #ce0000;
  margin-left: 50px;
}

#stop:hover {
  background: #ff2424;
}

#start:active, #stop:active {
  top: 1px;
}

.buttons {
  width: 300px;
  margin: 20px auto;
  text-align: center;
}
