<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Motor controller</title>
  </head>
  <body>
    <div class="container">
      <p id="result">Power Off</p>
    </div>
    <div class="buttons">
      <input type="button" id="start" value="Start">
      <input type="button" id="stop" value="Stop">
    </div>
  </body>
  <!--script-->
  <script type=text/javascript src="{{url_for('static', filename='js/start_motor.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/stop_motor.js') }}"></script>
</html>
